<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AB面属性反向传值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Chuanzhi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ClousreChuanzhi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DelegateChuanzhi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyClousrechuanzhi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NSNotificationCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NSUserDefault.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TargetActionchuanzhi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>使用系统的单例去传值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>自定义单例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>482759081D9A05D200941C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482759251D9A095000941C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4827593D1D9A14D000941C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482759551D9A1AB900941C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4827596F1D9A1DB700941C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482759871D9A43A700941C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4827599F1D9A507400941C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482759B91D9A587100941C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>484123AD1DB660C800AC574E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>484123C71DB661AB00AC574E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
